<template>
    <div class="mr-approval-info">
      <div class="mr-approval-toggle">
        <b-button class="btn-approval" v-b-toggle.approver-collapse>
          <span class="when-opened"><img src="../assets/chevron-up.svg"></span> <span class="when-closed"><img src="../assets/chevron-right.svg"></span>
        </b-button>
        <b-button class="eligible-approvers" v-b-toggle.approver-collapse><span class="when-opened approvers">Collapse</span> <span class="when-closed">
        <span class="approvers"><img src="/dist/avatar.png" class="avatar-xsm">
        <img src="/dist/avatar2.png" class="avatar-xsm"> View eligible approvers</span></span> </b-button>
        </div>
        <b-collapse id="approver-collapse">
          <table class="table m-0">
    <thead class="thead-white text-nowrap">
        <tr class="d-none d-sm-table-row">
            <th class="w-0"></th>
            <th>Approvers</th>
            <th class="w-50"></th>
            <th>Pending approvals</th>
            <th>Approved by</th>
        </tr>
    </thead>
    <tbody class="border-top-0">
        <!---->
        <tr>
            <td class="w-0">
                <div class="square s16"></div>
            </td>
            <td colspan="2">
                <div class="all-members">All Members</div>
            </td>
            <!---->
            <td class="text-nowrap">
                0 of 1
            </td>
            <td class="approved-by">
                <div>None</div>
            </td>
        </tr>
        <tr>
            <td class="w-0">
                <div class="square s16"></div>
            </td>
            <td colspan="2">
                <div class="all-members">Vulnerability-Check</div>
            </td>
            <!---->
            <td class="text-nowrap">
                0 of 1
            </td>
            <td class="approved-by">
                <div>None</div>
            </td>
        </tr>
    </tbody>
</table>
        </b-collapse>
    </div>
</template>

<script>

export default {
  name: 'Approval'
}
</script>

<style lang="scss">

</style>