<template>
    <div class="award-section-inner">
      <button @click.prevent="thumbsupCounter" class="award-control btn" type="button">
      <span title="thumbs up sign" data-name="thumbsup" data-unicode-version="6.0">👍</span>
      <span class="award-control-text">
       {{countUp}}
      </span>
    </button>
     <button @click.prevent="thumbsdownCounter" class="award-control btn" type="button">
      <span title="thumbs down sign" data-name="thumbdown" data-unicode-version="6.0">👎</span>
      <span class="award-control-text">
       {{countDown}}
      </span>
    </button>
  </div>
</template>

<script>

export default {
  name: 'Award',
  data() {
      return {
        countUp: 0,
        countDown: 0,
      }
    },
  methods: {
      thumbsupCounter: function() {
          this.countUp += 1;
      },
      thumbsdownCounter: function() {
        this.countDown += 1;
      }
  }
}

</script>


<style lang="scss">

.award-section-inner {
  text-align:left;
  margin:15px 0;
  .btn {
    border-radius: 4px;
    font-size: 16px;
    font-weight: 400;
    padding: 6px 10px;
    background-color:#fff;
    border-color:#e5e5e5;
    color:#2e2e2e;
    white-space: nowrap;
    span.award-control-text {
      font-size:14px;
    }
  }

}
</style>