<template>
  <div class="comment-section-inner">
      <b-container class="comment-grid">
          <b-row no-gutters>
              <b-col cols="1">
                  <div class="avatar">
                      <img src="../assets/avatar.png" class="avatar-round">
                  </div>
              </b-col>
              <b-col>
                <div class="textarea-controls">
                   <ul>
                     <li class="active "> Write </li>
                     <li> Preview </li>
                     <li class="markdown-btn d-none d-lg-block"> <button v-b-tooltip.hover title="Go full screen"><img src="../assets/screen-full.svg" class="sidebar-icon d-inline-block"></button>  </li>
                     <li class="markdown-btn d-none d-lg-block"> <button v-b-tooltip.hover title="Add a table"><img src="../assets/table.svg" class="sidebar-icon d-inline-block"> </button> </li>
                     <li class="markdown-btn d-none d-lg-block"> <button v-b-tooltip.hover title="Add a task list"><img src="../assets/list-task.svg" class="sidebar-icon d-inline-block"> </button> </li>
                     <li class="markdown-btn d-none d-lg-block"> <button v-b-tooltip.hover title="Add a numbered list"><img src="../assets/list-bulleted.svg" class="sidebar-icon d-inline-block"> </button> </li>
                     <li class="markdown-btn d-none d-lg-block"> <button v-b-tooltip.hover title="Add a bullet list"><img src="../assets/list-numbered.svg" class="sidebar-icon d-inline-block"> </button> </li>
                     <li class="markdown-btn d-none d-lg-block"> <button v-b-tooltip.hover title="Add a link"><img src="../assets/link.svg" class="sidebar-icon d-inline-block"></button>  </li>
                     <li class="markdown-btn d-none d-lg-block"> <button v-b-tooltip.hover title="Insert code"><img src="../assets/code.svg" class="sidebar-icon d-inline-block"> </button> </li>
                     <li class="markdown-btn d-none d-lg-block"> <button v-b-tooltip.hover title="Insert a quote"><img src="../assets/quote.svg" class="sidebar-icon d-inline-block"> </button> </li>
                     <li class="markdown-btn d-none d-lg-block"> <button v-b-tooltip.hover title="Add Italic text"><img src="../assets/italic.svg" class="sidebar-icon d-inline-block"></button>  </li>
                     <li class="markdown-btn d-none d-lg-block"> <button v-b-tooltip.hover title="Add bold text"><img src="../assets/bold.svg" class="sidebar-icon d-inline-block"></button> </li>

                  </ul>
                </div>
                  <b-form-textarea id="textarea" v-model="model.commentText" 
                      placeholder="Write a comment or drag your files here..." rows="5"></b-form-textarea>
                  <b-button-group class="comment-button">
                      <b-dropdown :disabled=isDisabled right split text="Comment" variant="success" size="sm"
                         class="comment-split">
                          <b-dropdown-item ><strong>Comment</strong><br />Add a General Comment to this merge request.
                          </b-dropdown-item>
                          <b-dropdown-divider></b-dropdown-divider>
                          <b-dropdown-item><strong>Start Thread</strong><br /> Discuss a specific suggestion or
                              question that needs to be resolved.</b-dropdown-item>
                      </b-dropdown>
                  </b-button-group>
                  <b-button class="comment-button close-mr" size="sm" variant="outline-warning">Close Merge Request
                  </b-button>
              </b-col>
          </b-row>
      </b-container>
  </div>
</template>

<script>

export default {
  name: 'Comment',
  data() {
      return {
        model: {
          commentText: ''
        },
    }
  },
  computed: {
  isDisabled() {
    return !this.model.commentText
  }
}
}

</script>


<style lang="scss" scoped>
.avatar {
    text-align: center;
    margin-top: 10px;

    .avatar-round {
        padding: 0;
        background: #fdfdfd;
        overflow: hidden;
        border-color: rgba(0, 0, 0, 0.1);
        border-radius: 50%;
        width: 40px;
        height: 40px;
    }
}

.comment-button {
    text-align: left;
    float: left;
    margin: 10px 0;
    padding-right: 10px;
}

textarea {
    padding: 50px 10px 0;
    font-size: 14px;
}

.textarea-controls {
    position: relative;
    margin-left: 15px;
    margin-right: 15px;

    ul {
        margin-bottom: 0;
        width: 100%;
        max-width: 100%;
        border-bottom: 1px solid #ccc;
        position: absolute;
        top: 0;
        text-align: left;
        margin-top: 10px;
        font-size: 14px;

        li {
            padding-bottom: 5px;

            &.active {
                font-weight: bold;
                border-bottom: 2px solid #6666c4;
                margin: 0;
            }
        }

    }
}
.markdown-btn {
  height:16px;
  width:16px;
  float:right;
  button {
    background:transparent;
    border:none;
    padding:0;
    margin:0;
  }
}

.comment-grid {
  padding:0;
}

textarea {
      border-radius: 3px;
  border: 1px solid #e5e5e5;
}

</style>