<template>
<div class="container contain-max mr-wrap">
  <div class="mr-header">
    <div class="breadcrumbs">
      <p><a href="#"> MR Group </a> › <a href="#"> <img alt="GitLab Demo" class="avatar" src="../assets/svgslogo.png?width=20" width="20" height="20"> MR Demo </a> › <a href="#"> Merge Requests </a> › <a href="#" class="active"> !3 </a></p>
    </div>
    <div class="mr-details">
      <div class="mr-detail-meta">
        <p>
          <b-badge class="mr-status" variant="success">Open</b-badge>
          <span class="mr-open-date">
            <b-button v-b-tooltip.hover placement="bottom" title="Aug 19, 2019"> Opened 1 week ago by </b-button><a href="#"><img src="../assets/avatar.png" class="avatar-sm"> Brian Wald</a>
          </span>
          <span class="mr-action-edit">
            <b-button variant="outline-secondary">Edit</b-button>
            <b-button variant="outline-warning">Close merge request</b-button>
          </span>
        </p>
      </div>
      <div class="mr-title">
        <h2 class="title"> {{ mrTitle }} </h2>
        <div class="mr-description">
          <p class="issue-close"> Closes <b-button v-b-tooltip.hover placement="bottom" title="Issue: Demo Merge Request Components"> <a href="#"> #44</a></b-button>
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="mr-state-widget container">
    <div class="mr-source-target col">
      <div class="container no-pad">
        <div class="row align-items-center ">
          <div class="col col-1">
            <div class="mr-icon"><img src="../assets/git-merge-707.svg" height="24px" class="sidebar-icon d-inline-block"></div>
          </div>
          <div class="col ">
            <div class="mr-branch">
              <p> Request to merge <a href="#"> {{ mrSource }} </a> into <a href="#"> {{ mrTarget }} </a></p>
            </div>
            <div class="mr-branch-details">
              <p> This source branch is <a href="#"> {{ mrBranchDetails }} </a> the target branch </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="mr-actions col">
      <b-button variant="outline-secondary">Open in Web IDE</b-button>
      <b-button variant="outline-secondary">Check out Branch</b-button>
      <b-dropdown variant="outline-secondary">
        <template slot="button-content"><img src="../assets/download.svg" class="sidebar-icon d-inline-block"></template>
        <b-dropdown-item href="#">Email Patches</b-dropdown-item>
        <b-dropdown-item href="#">Plain Diff</b-dropdown-item>
      </b-dropdown>
    </div>
  </div>
  <div class="mr-pipeline-info">
    <div class="d-flex justify-content-between">
      <div class="pipeline-results">
        <p>
          <span class="pipeline-success">
            <img src="../assets/status_success_borderless.svg">
          </span>
          <span class="pipeline-text">Pipeline <a href="#"> {{ pipelineId }} </a> passed for <a href="#">{{ commitRef }}</a> on <a href="#"> {{ mrSource }} </a>
          </span> <br />
          <span class="coverage">Coverage {{ coveragePercent }} </span>
        </p>
      </div>
      <div class="pipeline-graph">
        <div class="pipeline-stages" v-for="pipeline in pipelines" :key="pipeline.stage">
          <Pipeline :pipeline="pipeline" />
        </div>
      </div>
    </div>
  </div>
  <div class="mr-review-app">
    <div class="d-flex justify-content-between">
      <div class="review-app-info">
        <p> Deployed to <a href="4">review/{{ mrSource }} </a> 1 week ago </p>
      </div>
      <div class="mr-actions">
        <b-button variant="outline-secondary">View app <img class="v-bottom" src="../assets/external-link.svg"></b-button>
        <b-button variant="outline-secondary">Review</b-button>
        <b-button variant="outline-secondary"><img src="../assets/stop.svg"></b-button>
      </div>
    </div>
  </div>
  <div class="mr-approval">
    <div class="mr-icon"><img src="../assets/approval.svg" height="24px" class="sidebar-icon d-inline-block"></div>
    <div>
      <b-button size="sm" variant="primary">Approve</b-button> <span class="approval-text">{{ approvalText }}</span>
    </div>
  </div>
  <div class="mr-approval-group">
    <Approval />
  </div>
  <div class="security-group">
    <Security />
  </div>
  <div class="merge-widget">
    <MergeWidget />
  </div>
  <div class="award-section">
    <Award />
  </div>
  <div class="comment-section">
    <Comment />
  </div>
</div>
</template>

<script>
import Pipeline from './Pipeline.vue'
import Approval from './Approval.vue'
import Security from './Security.vue'
import MergeWidget from './MergeWidget.vue'
import Award from './Award.vue'
import Comment from './Comment.vue'

export default {
  name: 'Main',
  components: {
    Pipeline,
    Approval,
    Security,
    MergeWidget,
    Award,
    Comment
  },
  data () {
    return {
     mrTitle: 'WIP: Anatomy of a Merge Request',
     mrSource: 'anatomy-of-mr',
     mrTarget: 'master',
     mrBranchDetails: '7 commits behind',
     pipelineId: '#2342355',
     commitRef: 'b60c4432',
     approvalText: 'Requires Approval.',
     coveragePercent: '88.6%',
     pipelines: [
        { stage: 'Build', status: 'passed', jobs: ['build']},
        { stage: 'Test', status: 'passed', jobs: ['code_quality', 'container_scanning', 'dependency_scanning', 'license_management', 'sast', 'test'] },
        { stage: 'Review', status: 'passed', jobs: ['Review App']},
        { stage: 'DAST', status: 'passed', jobs: ['DAST']},
        { stage: 'Performance', status: 'passed', jobs: ['Performance']}
     ],
   }
  },
}
</script>

<style lang="scss">

.no-pad {
  padding:0;
}

.collapsed > .when-opened,
:not(.collapsed) > .when-closed {
  display: none;
}

.v-bottom {
  vertical-align: text-bottom;
}

.btn {
  padding: .275rem .65rem;
}

.btn-primary {
  background-color: #1f78d1;
  border-color: #1b69b6;
}

.mr-state-widget, .mr-description {
  position:relative;
  color:#000;
  a {color:#1b69b6 }
}

.btn-outline-warning {
  color: #de7e00;
  border-color: #fc9403;

  &:hover {
    background-color: #fff1de;
    border-color: #fc9403;
    color: #c26700;
  }
}

.btn-outline-secondary {
  color: #000;
  border-color: #e5e5e5;

  &:hover {
    background-color: #f0f0f0;
    border-color: #e3e3e3;
    color: #2e2e2e;
  }
}

.breadcrumbs {
  text-align: left;
  font-size: .8rem;

  a {
    font-size: .8rem;
    margin: 0px 10px;

    &.active {
      color: #000;
      font-weight: 600;
    }
  }

  .avatar {
    border-radius: 50%;
    border: 1px solid #ccc;
  }
}

.mr-details {
  text-align: left;
  font-size: .85rem;

  .mr-status.badge {
    font-size: 100%;
    padding: 5px;
    font-weight: 400;
    vertical-align:middle;
  }

  .mr-detail-meta {
    border-bottom: 1px solid #e8e8e8;
    border-top: 1px solid #e8e8e8;
    margin: 10px 0;
    padding: 10px 0;

    a {
      font-weight: bold;
      color: #000;
    }
  }

  .mr-title {
    padding: 16px 0;

    h2 {
      font-size: 2em;
      color: #2e2e2e;
      margin: 0 0 16px;
      font-weight: 600;
      padding: 0;
    }
  }

  .mr-open-date {
    margin-left: 10px;

    .btn {
      background: transparent;
      font-size: .85rem;
      border: none;
      padding: 0;
      color: #000;
      vertical-align: text-top;
    }
    a {
      vertical-align:middle;
    }
  }

  .mr-action-edit {
    .btn {
      font-size: .85rem;
    }
  }

  span.mr-action-edit {
    float: right;
  }

  p {
    margin-bottom: 0;
  }
}

.mr-description {
  .btn {
    background: transparent;
    font-size: .85rem;
    border: none;
    padding: 0;
  }
}

.mr-state-widget {
  display: flex;
  flex-wrap: wrap;
  text-align:left;
  border-radius: 4px;
  padding: 16px;
  font-size: .85rem;
  border: 1px solid #e5e5e5;
  min-height: 69px;
  .mr-source-target {
    padding-left:0;
    p {
      margin:0;
    }
  }
  .mr-actions {
    text-align:right;
    padding-right:0;
    .btn {font-size:.85rem;}
  }
  .mr-branch-details {
    color:#707070;
  }
  .mr-icon {
    float:left;
    padding-right:10px;}
}
.mr-branch {
  float:left;
  font-weight:600;
  a {
    font-weight:400;
  }
}

.mr-branch-details {
  float:left;
}

.mr-pipeline-info, .mr-approval, .security-group {
  text-align:left;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  padding: 15px;
  font-size: .85rem;
  border: 1px solid #e5e5e5;
  border-bottom:none;
  margin-top:15px;
  position:relative;
  &::before {
    content: '';
    border-left: 1px solid #dfdfdf;
    position: absolute;
    left: 28px;
    top: -17px;
    height: 16px;
  }
  p{
    margin-bottom:0;
    span.coverage {
      font-weight:300;
      font-size:.8rem;
      margin-left:10px;
    }
  }
}
.security-group {
padding:0;
}
.mr-approval-group {
  text-align:left;
  .mr-approval-info {
  .btn {
    background:none;
    border:none;
    text-align:left;
    &.eligible-approvers {
      color:#1b69b6;
      padding:0;
      //add height when collapsed
      height:25px;
    }
    &.btn-approval {
      padding:0;
    }
    .approvers {
      margin-left:20px;
    }
  }
  #approver-collapse {
    background:#fff;
    border-top:1px solid #dfdfdf;
    table thead th {
      border-top:0;
      border-bottom:1px solid #dfdfdf;
      color:#707070;
      font-weight:400;
    }
  }
 }
}

.mr-approval {
  div {
    display:inline-block;
  }
}

.approval-text {
  font-weight:700;
  padding-left:10px;
}

.pipeline-results {
  font-weight:600;
  a{
    font-weight:400;
    color:#1b69b6;
  }
  .pipeline-text {
    margin-left:10px;
  }
}
.pipeline-success, .check-success {
  border:1px solid #1aaa55;
  border-radius:50%;
  float:left;
  vertical-align:middle;


  img {
    text-align:center;
    height:24px;
    width:24px;
  }
}

.mr-review-app, .mr-approval-group {
  border: 1px solid #e5e5e5;
  background-color: #fafafa;
  padding:15px;
  font-size:.85rem;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  .review-app-info p {
    margin-bottom:0;
    margin-top:5px;
    text-align:left;
    a {
      color:#1b69b6;
    }
  }
  .btn {
    font-size:.85rem;
  }
}

.mr-approval-group {
  padding:0;
  .mr-approval-toggle {
    padding:5px 15px;
  }
}
</style>