<template>
<div>
  <b-navbar toggleable="lg" type="dark" fixed="true" variant="info">
    <b-navbar-brand href="#"> <img src="../assets/gitlab-icon-rgb.svg" height="40px" class="d-inline-block"> <span class="d-inline-block">GitLab </span></a></b-navbar-brand>

    <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

    <b-collapse id="nav-collapse" is-nav>
      <b-navbar-nav>
        <b-nav-item-dropdown text="Projects" right>
          <b-dropdown-item href="#">EN</b-dropdown-item>
          <b-dropdown-item href="#">ES</b-dropdown-item>
          <b-dropdown-item href="#">RU</b-dropdown-item>
          <b-dropdown-item href="#">FA</b-dropdown-item>
        </b-nav-item-dropdown>
        <b-nav-item-dropdown text="Groups" right>
          <b-dropdown-item href="#">EN</b-dropdown-item>
          <b-dropdown-item href="#">ES</b-dropdown-item>
          <b-dropdown-item href="#">RU</b-dropdown-item>
          <b-dropdown-item href="#">FA</b-dropdown-item>
        </b-nav-item-dropdown>       
        <b-nav-item href="#">Activity</b-nav-item>
        <b-nav-item href="#">Milestones</b-nav-item>
        <b-nav-item href="#">Snippets</b-nav-item>
        <b-nav-item href="#"><img src="../assets/dashboard.svg" height="18px" class="d-inline-block valign-btm"></b-nav-item>
      </b-navbar-nav>

      <!-- Right aligned nav items -->
      <b-navbar-nav class="ml-auto">

        <b-nav-form>
            <b-form-input placeholder="Search or Jump to..."></b-form-input><font-awesome-icon icon="search" />
        </b-nav-form>        
       
        <b-nav-item href="#" right><img src="../assets/issues-fff.svg" height="15px" class="d-inline-block"><b-badge pill variant="success">2</b-badge></b-nav-item>
        <b-nav-item href="#" right ><img src="../assets/git-merge-fff.svg" height="15px" class="d-inline-block"><b-badge pill variant="warning">2</b-badge></b-nav-item>
        <b-nav-item href="#" right ><font-awesome-icon icon="check-square" /><b-badge pill variant="primary">99+</b-badge></b-nav-item>
        <b-nav-item-dropdown right>
          <template slot="button-content"><font-awesome-icon icon="question-circle" /></template>
          <b-dropdown-item href="#">Help</b-dropdown-item>

        </b-nav-item-dropdown>

        <b-nav-item-dropdown right>
          <!-- Using 'button-content' slot -->
          <template slot="button-content"><font-awesome-icon icon="user-circle" /></template>
          <b-dropdown-item href="#">Profile</b-dropdown-item>
          <b-dropdown-item href="#">Sign Out</b-dropdown-item>
        </b-nav-item-dropdown>
      </b-navbar-nav>
    </b-collapse>
  </b-navbar>
</div>
</template>

<script>

export default {
  name: 'Menu'
}
</script>

<style lang="scss">

a {
    transition: background-color 100ms linear, color 100ms linear, border 100ms linear;
}

//variables to move to external file later...
$header-bg: #292961 !important;

.badge-warning {
  color: #fff;
  background-color: rgb(222, 126, 0);
}

.valign-btm {
  vertical-align: bottom;
}

.bg-info {
  background-color: $header-bg;
}

.navbar {
  padding: 0 5px;

  .navbar-brand {
    padding: 0;

    span {
      font-weight: 200;
      vertical-align: middle;
    }
  }

  .navbar-nav .form-inline {
    background: rgba(209, 209, 240, 0.2);
    border-radius: 5px;
    height: 30px;
    margin-top: 3px;

    position: relative;

    input.form-control {

      font-size: .9em;
      background: rgba(0, 0, 0, 0);
      border: none;
      color: #fff;

      &::placeholder {
        color: #d1d1f0;
      }
    }

    .fa-search {
      position: absolute;
      right: 10px;
      font-size: .8em;
      color: #d1d1f0;
    }
  }
}

.navbar-dark .navbar-nav {
  .nav-link {
    font-size: .80rem;
    color: #d1d1f0;
    font-weight: 500;
  }

  .nav-item {
    margin: 0px 5px;
    border-radius: 5px;

    &:hover {
      background-color: rgba(209, 209, 240, 0.2);
    }

    .badge {
      margin-left: -3px;

    }
  }
}

.fa-plus-square {
  color: #fefefe;
}

.dropdown-toggle::after {}

</style>