<template>
    <div class="merge-widget-inner">
      <div class="mr-icon"> <img src="../assets/status_warning.svg" height="24px" class="sidebar-icon d-inline-block"></div>
    <div>
      <b-button class="bold mr-merge-button" size="sm" disabled="disabled" variant="outline-secondary">Merge</b-button> 
      <span class="mr-state-text">{{ mrStateText }} <b-button class="wip-text" v-b-tooltip.hover title="When this merge request is ready, remove the WIP: prefix from the title to allow it to be merged">
        <font-awesome-icon icon="question-circle" /></b-button>
      </span>
      <b-button size="sm" variant="outline-secondary">Resolve WIP Status</b-button>
    </div>
    <div class="mr-close-issue">
      <p> Closes <a class="primary" href="#">#44</a></p>
    </div>
    <div class="mr-local-merge">
      <p> <em>You can merge this merge request manually using the  </em><a class="primary" href="#">command line</a></p>
    </div>
  </div>
    </div>
</template>

<script>

export default {
  name: 'MergeWidget',
  data() {
      return {
        mrState: 'disabled',
        mrStateText: 'This is a Work in Progress'

      }
    }
}

</script>


<style lang="scss">
.merge-widget-inner {
  border: 1px solid #e5e5e5;
  padding: 15px;
  font-size: .85rem;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  text-align:left;
}
.mr-merge-button {
  margin-left:10px;
}
.mr-state-text {
  font-weight:600;
  margin-left:10px;
  color: #5c5c5c;
  vertical-align:middle;
}
.merge-widget-inner  {
  div {
    display:inline-block;
  }
}
.bold {
  font-weight:500;
}

.wip-text {
  background:transparent;
  color:#666;
  border:none;
  padding-left:5px;
  margin-right:10px;
  font-size: 0.85rem;
  &:hover {
    background:transparent;
    color:#666;
  }
}
.mr-close-issue {
  display:block;
  width:100%;
  margin:20px 0 0 45px;
  a{
    color:#1b69b6;
  }
}

.mr-local-merge {
  border-top:1px solid #e5e5e5;
  width:100%; 
  padding:10px 0 0 45px;
  a {
    color:#1b69b6;
  }
  p {
    margin-bottom:0;
  }
}


</style>