<template>
    <div class="pipeline-graph-dropdown">
      <b-dropdown variant="link" no-caret>
       <template slot="button-content">
         <img v-if="pipeline.status === 'passed'" class="pipeline-success" src="../assets/status_success_borderless.svg">
         <img v-else-if="pipeline.status === 'failed'" class="pipeline-success" src="../assets/status_failed_borderless.svg">
         <img v-else-if="pipeline.status === 'warning'" class="pipeline-success" src="../assets/status_failed_borderless.svg">
         <img v-else class="pipeline-extra-stages" src="../assets/status_failed_borderless.svg">
         </template>
       <b-dropdown-item v-for="(job,index) in pipeline.jobs" :key="index">{{ job }} <img class="job-retry" src="../assets/retry.svg"> </b-dropdown-item>
       </b-dropdown>
    </div>
</template>

<script>

export default {
  name: 'Pipeline',
  props: ['pipeline'],
  data() {
      return {
        //
      }
    }
}

</script>


<style lang="scss">

.pipeline-graph {
  display:inline-flex;

}

.pipeline-graph-dropdown {
  .show {
    .pipeline-success {
      box-shadow: 0 0 4px 1px #73afea;
    }
  }
 .dropdown-toggle {
   padding:0;
   padding-right:5px;
 }
 li {
   width:100%;
   margin:0;
 }
 .dropdown-menu {
   border: 1px solid #e5e5e5;
   border-radius: 3px;
   box-shadow: 0 2px 4px rgba(0,0,0,0.1);
   min-width:240px;
 }
 .dropdown-item {
   font-size:.9rem;
   font-weight:200;
   padding:10px;
     &:hover {
     background-color: #eee;
   }
 }
}

.job-retry  {
  float:right;
  padding:5px;
  border:1px solid #e5e5e5;
  border-radius:50%;
  width:25px;
  height:25px;
}

</style>