<template>
  <div class="security-results">
    <div class="d-flex justify-content-between security-results-header">
      <div>
          <span class="security-warning">
            <img src="../assets/status_warning.svg" height="24px" class="sidebar-icon d-inline-block">
            <span class="security-text">Security scanning detected {{ vulNumber }} vulnerabilities in the source branch only</span>
          </span>
      </div>
      <div>
        <b-button variant="outline-secondary">View full report <img class="v-bottom" src="../assets/external-link.svg"></b-button>
        <b-button variant="outline-secondary" class="btn-approval" v-b-toggle.security-reports>
          <span class="when-opened">Collapse</span> <span class="when-closed">Expand</span>
        </b-button>
      </div>
    </div>
     <b-collapse id="security-reports">
      <div class="sast-results report-item"> <img class="check-success sidebar-icon d-inline-block" src="../assets/status_success_borderless.svg"><span> SAST detected no new vulnerabilities</span></div>
      <div class="dep-scan-results report-item"> <div class="report-results"><img src="../assets/status_warning.svg" height="24px" class="sidebar-icon d-inline-block"><span> Dependency Scanning detected 2 new vulnerabilities </span></div>
      <div class="report-block-container report-block-group-list">
          <ul class="report-block-list" v-for="depVuln in depVulns" :key="depVuln.severity">
            <li class="report-block-list-issue align-items-center">
              <div class="report-block-list-icon append-right-default failed">
                <img src="../assets/status_failed_borderless-red.svg">
              </div>
              <div class="report-block-list-issue-description prepend-top-5 append-bottom-5">
                <div class="report-block-list-issue-description-text">
                      {{depVuln.severity}}
                </div>
                <button type="button" class="btn-link btn-blank text-left break-link vulnerability-name-button js-modal-dast"> {{depVuln.description}}</button>
              </div>
            </li>
          </ul>
        </div> 
      </div>
      <div class="container-scan-results report-item"><img class="check-success sidebar-icon d-inline-block" src="../assets/status_success_borderless.svg"> <span>Container Scanning detected no new vulnerabilities</span></div>
      <div class="dast-results report-item"> <div class="report-results"> <img src="../assets/status_warning.svg" height="24px" class="sidebar-icon d-inline-block"> <span>DAST detected 5 new vulnerabilities</span></div>
        <div class="report-block-container report-block-group-list">
          <ul class="report-block-list"  v-for="dastVuln in dastVulns" :key="dastVuln.severity">
            <li class="report-block-list-issue align-items-center">
              <div class="report-block-list-icon append-right-default failed">
                <img src="../assets/status_failed_borderless-red.svg">
              </div>
              <div class="report-block-list-issue-description prepend-top-5 append-bottom-5">
                <div class="report-block-list-issue-description-text">
                      {{dastVuln.severity}}
                </div>
                <button type="button" class="btn-link btn-blank text-left break-link vulnerability-name-button js-modal-dast"> {{dastVuln.description}}</button>
              </div>
            </li>
          </ul>
        </div>  
      </div>
    </b-collapse>
  </div>
</template>

<script>
import {count } from 'vue-computed-helpers';

export default {
  name: 'Security', 
  data () {
    return {
     dastVulns: [
        { severity: 'low (Medium)', description: 'Cross-Domain JavaScript Source File Inclusion'},
        { severity: 'medium (High)', description: 'X-Frame-Options Header Not Set'},
        { severity: 'medium (Low)', description: 'X-Frame-Options Header Not Set'},
        { severity: 'medium', description: 'X-Frame-Options Header Not Set'},
     ],
     depVulns: [
        { severity: 'High (Undefined)', description: 'Denial of Service in http-proxy-agent'},
        { severity: 'Low (Undefined)', description: 'growl_command-injection in growl'},
     ],     
    }
  },
  computed: {
  vulNumber: function() {
    return (this.dastVulns.length) + (this.depVulns.length)
    }
  }
}
</script>

<style lang="scss">

.report-block-container {
  background:#fafafa;
  padding-top:15px;
  margin-top:10px;
  margin-left:-15px;
  margin-right:-15px;
  margin-bottom:-15px;
  border-top: 1px solid #e5e5e5;
  max-height: 170px;
  overflow: auto;
}

.report-block-list {
  display:block;
  width:100%;
  margin-bottom:5px;

}


.btn-link {
  padding: 0;
  background-color: transparent;
  color: #1b69b6;
  font-weight: normal;
  border-radius: 0;
  border-color:transparent;
  display:inline;
}
.report-block-list-issue {}
.report-block-list-issue-description-text, .report-block-list-issue-description, .report-block-list-icon {
  display:inline;
}

.report-item {
  padding: 16px;
  border-top: 1px solid #e5e5e5;
  box-sizing: border-box;
}
.append-right-default {
  margin-right: 16px;
}

.security-text {
    font-size:.9rem;
    vertical-align:bottom;
}

 .security-results {
    .btn {
      font-size: .85rem;
    }
    .sidebar-icon {
      margin-right:15px;
    }
  }
.security-results-header {
  padding:15px;
}
</style>