<template>
    <div>
        <b-list-group class="meta-sidebar">
            <b-list-group-item><span class="meta-title">To Do</span> <button type="button"
                    class="btn btn-todo btn-outline-secondary">Add a To Do</button></b-list-group-item>
            <b-list-group-item><span class="meta-title">Assignee</span><span class="edit-meta"> Edit </span>
            <div class="assignee-group">
              <div class="avatar">
                <img src="../assets/avatar.png" class="avatar-round">
              </div>
              <div class="user-info">
                <p class="user">Brian Wald</p>
                <p class="username"><a href="#">@BrianWald</a></p>
                </div>
            </div>
            </b-list-group-item>
            <b-list-group-item><span class="meta-title">Milestone</span><span class="edit-meta"> Edit </span>
                <p class="meta-state-active"><a href="#">12.7</a></p>
            </b-list-group-item>
            <b-list-group-item><span class="meta-title display-inline">Time tracking</span>
                <b-button v-b-toggle="'collapse-2'" class="time-help-text">
                    <font-awesome-icon icon="question-circle" />
                </b-button>
                <p class="meta-state-active"> No Estimate or time spent </p>
            </b-list-group-item>
            <b-collapse id="collapse-2" class="time-tip">
                <b-card>
                    <h4>Track time with quick actions</h4>
                    <p>Quick actions can be used in the issues description and comment boxes.</p>
                    <p><code>/estimate</code> will update the estimated time with the latest command.</p>
                    <p><code>/spend</code> will update the sum of the time spent.</p>
                    <button type="button" class="btn btn-todo btn-outline-secondary">Learn more</button>
                </b-card>
            </b-collapse>
            <b-list-group-item><span class="meta-title">Labels</span><span class="edit-meta"> Edit </span>
            <p class="mr-labels"><b-badge pill variant="warning"><a href="#">GitLab Training</a></b-badge> <b-badge pill variant="success"><a href="#">Workflow</a></b-badge> <b-badge pill variant="secondary"><a href="#">Documentation</a></b-badge></p>
            </b-list-group-item>
            <b-list-group-item><span class="meta-title">Lock merge request</span><span class="edit-meta"> Edit </span>
                <p class="meta-state-active"> <img src="../assets/lock-open.svg" height="15px"
                        class="d-inline-block lock-icon"> Unlocked </p>
            </b-list-group-item>
            <b-list-group-item><span class="meta-title">2 participants</span>
            <p class="participants">
              <b-button v-b-tooltip.hover placement="bottom" title="Brian Wald"><img src="../assets/avatar.png" class="avatar-sm"></b-button>
              <b-button v-b-tooltip.hover placement="bottom" title="GitLab Bot"><img src="../assets/avatar2.png" class="avatar-sm"></b-button>
            </p>
            </b-list-group-item>
            <b-list-group-item><span class="meta-title display-inline">Notifications</span>
                <b-form-checkbox switch class="notification-btn" checked="true" size="lg"></b-form-checkbox>
            </b-list-group-item>
            <b-list-group-item><span class="meta-title">Reference: mr-demo/...</span></b-list-group-item>
        </b-list-group>
    </div>
</template>

<script>

export default {
  name: 'SidebarRight',
  data() {
      return {
        checked: true
      }
    }
}

</script>


<style lang="scss">
$sidebar-font-size: .85rem;

.display-inline {
  display: inline;
}

 .avatar-sm {
    width:24px;
    margin:5px;
    height:24px;
    border-radius:50%;
    border:1px solid rgba(0, 0, 0, 0.1);
  }

.avatar-xsm {
  width:20px;
  height:20px;
  border-radius:50%;
  border:1px solid rgba(0, 0, 0, 0.1);
  margin:3px;
}

.meta-sidebar {
  padding: 5px 20px;

  .list-group-item {
    background: transparent;
    border: none;
    border-bottom: 1px solid #e8e8e8;
    border-radius: 0;
    text-align: left;
    padding: 15px 0;

    .assignee-group {
      .avatar {
        float: left;
        margin-top: 10px;

        .avatar-round {
          padding: 0;
          background: #fdfdfd;
          overflow: hidden;
          border-color: rgba(0, 0, 0, 0.1);
          border-radius: 50%;
          width: 32px;
          height: 32px;
        }
      }
      .user-info {
        float:left;
        margin-left:10px;
        .user {
          font-size:.85rem;
          font-weight:700;
          margin-top:5px;
          margin-bottom:0;
        }
        .username {
        margin-top:-5px;
        margin-bottom:0;
         a {
          font-size:.75rem;
          font-weight:400;
          color:#000;
         }
        }
      }
    }

    .meta-title {
      font-size: $sidebar-font-size;
    }

    .edit-meta {
      float: right;
      font-size: $sidebar-font-size;
    }

    .meta-state-active {
      padding-top: 5px;
      font-size: $sidebar-font-size;
      color: #707070;
      margin-bottom: 0;

      a {
        color: #000;
        font-weight: bold;
      }

      .lock-icon {
        margin-right: 10px;
      }

    }

    p.mr-labels {
      padding: 5px 0px;
      margin-bottom: 0;

      .badge {
        padding: 5px 10px;
        font-weight: 400;

        a {
          color: #fff;
        }
      }
    }

    .time-help-text {
      display: inline;
      position: absolute;
      color: #000;
      background: transparent;
      border: none;
      padding: 5px;
      font-size: $sidebar-font-size;
      right: 0;
      top: 10px;
    }
  }

  .time-tip {
    text-align: left;

    h4 {
      padding-top: 20px;
      font-size: 1.5rem;
      color: #000;
    }

    .card {
      padding: 5px;
      background: transparent;
      border: none;
      border-top: 1px solid #e8e8e8;
      border-bottom: 1px solid #e8e8e8;

      .btn-todo {
        float: left;
      }

      .card-body {
        padding: .5rem;
      }
    }
  }
 

  .btn-todo {
    color: #000;
    font-size: $sidebar-font-size;
    border-color: #e8e8e8;
    vertical-align: top;
    padding: 5px 10px;
    float: right;
  }

  .notification-btn {
    float: right;
  }
  .participants {
    margin-bottom:0;
    button {
      padding:0;
      background:transparent;
      border:none;
    }
  }
}

</style>