<template>
<div>
  <div class="context-header">
    <img alt="gitlab-svgs" class="avatar" src="../assets/svgslogo.png?width=40" width="40" height="40">
    <a href="#" class="project-name"> Merge Request Demo </a>
  </div>

  <b-nav vertical class="project-nav">
    <b-nav-item><img src="../assets/home.svg" height="15px" class="sidebar-icon d-inline-block"> Project</b-nav-item>
    <b-nav-item><img src="../assets/doc-text.svg" height="15px" class="sidebar-icon d-inline-block"> Repository</b-nav-item>
    <b-nav-item><img src="../assets/issues.svg" height="15px" class="sidebar-icon d-inline-block"> Issues <b-badge pill>12</b-badge></b-nav-item>
    <b-nav-item active><img src="../assets/git-merge.svg" height="15px" class="sidebar-icon d-inline-block"> Merge Requests <b-badge class="active" pill>2</b-badge></b-nav-item>
    <b-nav-item><img src="../assets/rocket.svg" height="15px" class="sidebar-icon d-inline-block"> CI/CD</b-nav-item>
    <b-nav-item><img src="../assets/shield.svg" height="15px" class="sidebar-icon d-inline-block"> Security & Compliance</b-nav-item>
    <b-nav-item><img src="../assets/cloud-gear.svg" height="15px" class="sidebar-icon d-inline-block"> Operations</b-nav-item>
    <b-nav-item><img src="../assets/package.svg" height="15px" class="sidebar-icon d-inline-block"> Packages</b-nav-item>
    <b-nav-item><img src="../assets/book.svg" height="15px" class="sidebar-icon d-inline-block"> Wiki</b-nav-item>
    <b-nav-item><img src="../assets/snippet.svg" height="15px" class="sidebar-icon d-inline-block"> Snippets</b-nav-item>
    <b-nav-item><img src="../assets/settings.svg" height="15px" class="sidebar-icon d-inline-block"> Settings</b-nav-item>
  </b-nav>
</div>
</template>

<script>

export default {
  name: 'SidebarLeft'
}
</script>

<style lang="scss">

.context-header {
  padding:10px 0;
  &:hover {
    background:#ccc;
  }
  img.avatar {
    text-align:left;
  }
  .project-name {
    color:#000;
    font-weight:600;
    font-size:.85em;
    &:hover {
      text-decoration:none;
    }
  }
}

.project-nav {
  text-align:left;
  li:nth-child(4) {
    background:rgba(0,0,0,0.04);
  }
  li {
    margin:0;
    padding:5px 0;
    &:hover {
      background:rgba(0,0,0,0.04);
    }
  .badge {
   margin-top:5px;
   background:rgba(0,0,0,0.08);
   color: #707070;
   float:right;
   font-weight:400;
   &.active {
     color:#393982;
     font-weight:bold;
   }
 }
    a {
      font-size:.9em;
      &:hover {
        color:#707070;
      }
    }
    a.active {
      color:#393982;
      font-weight:bold;
    }
  }
}

.sidebar-icon {
 vertical-align:middle;
 margin-right:5px;
}



</style>