<template>
  <div id="app">
    <div class="container-fluid">
      <div class="row header">
        <div class="col no-pad"> <Menu /> </div>
      </div>
    </div>
    <div class="container-fluid">
        <div class="row">
          <div class="nav-sidebar">
            <SidebarLeft />
          </div>
          <div class="main-content">
            <Main />
          </div>
          <div class="nav-sidebar-last">
            <SidebarRight />
          </div>
        </div>
      </div>
  </div>
</template>

<script>
import Menu from './components/Menu.vue'
import SidebarLeft from './components/SidebarLeft.vue'
import SidebarRight from './components/SidebarRight.vue'
import Main from './components/Main.vue'

export default {
  name: 'App',
  components: {
    Menu,
    SidebarLeft,
    SidebarRight,
    Main
  }
}
</script>

<style lang="scss">
#app {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Noto Sans", Ubuntu, Cantarell, "Helvetica Neue", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  text-align: center;
  color: #2c3e50;
}

.header {
 background-color:#292961;
 margin-bottom:15px;
 position:fixed;
 width:100%;
 z-index:2;
}

h1, h2 {
  font-weight: normal;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: inline-block;
  margin: 0 10px;
}

a {
  color: #707070;
  &:hover {
    color:#2e2e2e;
  }
}
 .avatar-sm {
    width:24px;
    margin:5px 5px;
    height:24px;
    border-radius:50%;
    border:1px solid rgba(0, 0, 0, 0.1);
  }

.nav-sidebar {
transition: width 0.3s, left 0.3s;
    position: fixed;
    z-index: 600;
    top: 40px;
    bottom: 0;
    width:220px;
    left: 0;
    background-color: #fafafa;
    box-shadow: inset -1px 0 0 #e5e5e5;
    transform: translate3d(0, 0, 0);
}

.nav-sidebar-last {
  transition: width 0.3s, left 0.3s;
    position: fixed;
    z-index: 600;
    top: 40px;
    bottom: 0;
    width:290px;
    right: 0;
    background-color: #fafafa;
    box-shadow: inset -1px 0 0 #e5e5e5;
    transform: translate3d(0, 0, 0);
}

.main-content {
  margin-left:220px;
  margin-right:290px;
  width:100%;
  margin-top:60px;
}

.no-pad {
  padding:0;

}

</style>
